<!doctype html>
<html>
<head>
    <title>E.M.S</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Get In Touch</a></li>
            <li><a class="dropdown-item" href="#">About Us </a></li>
            <li><a class="dropdown-item" href="#">volunteers</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
</head>
<body>
<div class="container">

    <div class="">
        <h1>E M S</h1>
        <P> The purpose of the application is to help guide my community with useful education resources for our children to build better academics within exposure to different career and education opportunities . Also asking for volunteers who wants to contribute to the next generations achievements 
        The purpose is to build solid foundations for the forgotten and ignored  Most scholars' programs became political and hidden through income and zip codes . In my app the  skills our children will need in order to be accepted into the exclusive world would be accessible and easy to find. If You are a caregiver or a parent like me It's very Important to sign up 
            
            
            
        </P>
        <img src="" alt="">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
