body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: skyblue;
  font-family:  'Love Ya Like A Sister', cursive;;
}
img{
  height: 200px;
}
h1{
  font-family:  'Love Ya Like A Sister', cursive;;

}
